body {
    font-family: 'Rubik Mono One', sans-serif;
}

button {
    padding: 20px 30px;
    box-shadow: 0px 10px 0px black;
    transition: 0.5s;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: rgba(240, 248, 255, 0.473);
    color: #fff;
}

button:hover {
    box-shadow: 0px 5px 0px black;
    transform: translateY(5px);
    color: #ffffff;
}

.bg-mountine {
    background-image: url(1.jpg);
}

.bg-beach {
    background-image: url(2.jpg);
}

.bg-space {
    background-image: url(4.jpg);
}

.bg-desert {
    background-image: url(3.jpg);
}

.my-card {
    position: relative;
    height: 350px;
    margin: 10px;
    background-position: center top;
    color: rgb(255, 241, 227);
    transition: 0.7s linear;
    overflow: hidden;
    justify-content: center;
    display: flex;
}

.my-card:hover {
    background-position: center bottom;
}


.content {
    user-select: none;
    text-align: center;
    font-weight: 900;
    position: absolute;
    top: 73%;
    transition: 0.7s linear;
    margin: 0;
}

.my-card:hover .content {
    top: 30%;
    color: #fff;
}

.text-blur {
    width: 100%;
    margin: 0;
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    background-color: #ffffff37;
}